/* global variables */
:root {
  --clr-primary: #3777aa;
  --clr-primary-light: #2284d3;
  --clr-white: #ffffff;
  --clr-white-light: #f0f0f0;
  --clr-shadow: #00000029;
  --clr-black: #333333;
  --clr-black-30: rgba(34, 32, 32, 0.3);
  --clr-black-80: #222020cc;
  --clr-black-90: #212020e6;
  --clr-pink-light: #fdf2f2;
  --clr-blue-light: #f2fdfb;
  --clr-green-dark: hsl(125, 71%, 35%);
  --clr-green-light: hsl(125, 77%, 75%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);

  --transition: all 0.3s linear;
  --box-shadow-light: 0px 3px 7px var(--clr-shadow);
  --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
  --font-family: Arial, Helvetica, sans-serif;
  --radius: 4px;
  --spacing: 1px;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  outline-width: 2px;
  outline-offset: 1px;
  outline-color: var(--clr-primary);
}
body {
  color: var(--clr-black);
  background: var(--clr-white);
  font-family: var(--font-family);
  line-height: 1.5;
}
.over-flow-hidden {
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-grey-3);
  font-size: 16px;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global classes */
.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.display-block {
  display: block !important;
}
.text-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.section-title .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-primary);
}
.section-title .underline {
  width: 60px;
  height: 5px;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
}

/* buttons & inputs */
.button-primary-dark,
.button-primary-light {
  font-weight: bold;
  border: none;
  border: none;
  cursor: pointer;
  height: 45px;
  transition: var(--transition);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}
.button-primary-dark {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.button-primary-light {
  background: var(--clr-white);
  color: var(--clr-primary);
}
.button-primary-dark:hover {
  background: var(--clr-primary-light);
}
.button-primary-light:hover {
  background: var(--clr-white-light);
}
.primary-input,
.primary-textarea {
  height: 45px;
  font-size: 16px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: 1px solid var(--clr-shadow);
  background: var(--clr-white);
  letter-spacing: 1px;
  font-family: var(--font-family);
}
.primary-textarea {
  height: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: vertical;
}
.filter-by-category {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.filter-by-category .primary-select {
  font-size: 16px;
  height: 45px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: 1px solid var(--clr-shadow);
  background: var(--clr-white);
  letter-spacing: 1px;
  font-family: var(--font-family);
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .full-width-mobile {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .full-width-desktop {
    width: 100%;
  }
}

.page-100 {
  min-height: calc(100vh - 13vh);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}
@media screen and (min-width: 768px) {
  .page-100 {
    min-height: calc(100vh - 15vh);
  }
}

@media screen and (min-width: 769px) {
  .button-primary-dark,
  .button-primary-light {
    height: 50px;
    min-width: 220px;
  }
  .button-primary-dark:disabled,
  .button-primary-light:disabled {
    cursor: not-allowed;
  }
  .primary-input {
    height: 50px;
    min-width: 250px;
  }
  .filter-by-category .primary-select {
    height: 50px;
    min-width: 250px;
  }
}
.loading-spinner {
  animation: spinner infinite 0.5s forwards linear;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/* animations */
@keyframes bounceAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.02);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* padding classes */
@media screen and (max-width: 991px) {
  .paddingTopMobile-ten {
    padding-top: 10px !important;
  }
  .paddingTopMobile-twenty {
    padding-top: 20px !important;
  }
  .paddingTopMobile-thirty {
    padding-top: 30px !important;
  }
  .paddingTopMobile-forty {
    padding-top: 40px !important;
  }
  .paddingTopMobile-fifty {
    padding-top: 50px !important;
  }
  .paddingBottomMobile-ten {
    padding-bottom: 10px !important;
  }
  .paddingBottomMobile-twenty {
    padding-bottom: 20px !important;
  }
  .paddingBottomMobile-thirty {
    padding-bottom: 30px !important;
  }
  .paddingBottomMobile-forty {
    padding-bottom: 40px !important;
  }
  .paddingBottomMobile-fifty {
    padding-bottom: 50px !important;
  }
}
@media screen and (min-width: 992px) {
  .paddingTopDesktop-ten {
    padding-top: 10px !important;
  }
  .paddingTopDesktop-twenty {
    padding-top: 20px !important;
  }
  .paddingTopDesktop-thirty {
    padding-top: 30px !important;
  }
  .paddingTopDesktop-forty {
    padding-top: 40px !important;
  }
  .paddingTopDesktop-fifty {
    padding-top: 50px !important;
  }
  .paddingTopDesktop-sixty {
    padding-top: 60px !important;
  }
  .paddingTopDesktop-seventy {
    padding-top: 70px !important;
  }
  .paddingTopDesktop-eighty {
    padding-top: 80px !important;
  }
  .paddingTopDesktop-ninety {
    padding-top: 90px !important;
  }
  .paddingTopDesktop-hundred {
    padding-top: 100px !important;
  }
  .paddingBottomDesktop-ten {
    padding-bottom: 10px !important;
  }
  .paddingBottomDesktop-twenty {
    padding-bottom: 20px !important;
  }
  .paddingBottomDesktop-thirty {
    padding-bottom: 30px !important;
  }
  .paddingBottomDesktop-forty {
    padding-bottom: 40px !important;
  }
  .paddingBottomDesktop-fifty {
    padding-bottom: 50px !important;
  }
  .paddingBottomDesktop-sixty {
    padding-bottom: 60px !important;
  }
  .paddingBottomDesktop-seventy {
    padding-bottom: 70px !important;
  }
  .paddingBottomDesktop-eighty {
    padding-bottom: 80px !important;
  }
  .paddingBottomDesktop-ninety {
    padding-bottom: 90px !important;
  }
  .paddingBottomDesktop-hundred {
    padding-bottom: 100px !important;
  }
}
